<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>忘记密码</title>
<link rel="stylesheet" href="/static/css/style2.css">
<script type="text/javascript" src="/static/js/jquery-2.1.0.min.js"></script>
<script type="text/javascript" src="/static/js/easyform.js"></script>
</head>
<body>
<br>
<div class="form-div">
    <p style="margin-left:120px; margin-top:10px;font-size:30px">
        {% if erroru %}
            用户不存在
        {% endif %}
        {% if errore %}
            用户名和邮箱不一致
        {% endif %}
        请填写
    </p>
    <form id="reg-form" action="" method="post">
        <table>
            <tr>
                <td>用户名</td>
                <td><input name="UserName" type="text" id="uid" easyform="length:2-16;char-normal;real-time;" message="用户名必须为4—16位的英文字母或数字" easytip="disappear:lost-focus;theme:blue;" ajax-message="用户名已存在!">
                </td>
            </tr>
            <tr>
                <td>注册邮箱</td>
                <td><input name="Email" type="text" id="email" easyform="email;real-time;" message="Email格式要正确" easytip="disappear:lost-focus;theme:blue;" ajax-message="这个Email地址已经被注册过，请换一个吧!"></td>
            </tr>
        </table>
        <input value="提交" type="submit" style="margin-left:180px; margin-bottom:0px;">
        <br class="clear">
    </form>
</div>

<div style="text-align:center;margin:50px 0; font:normal 14px/24px 'MicroSoft YaHei';">
</div>

</body>
</html>